#addthis_services {
	BACKGROUND-COLOR: #ffffff
}
#addthis_services A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 4px; PADDING-RIGHT: 0px; DISPLAY: block; COLOR: #333333; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
#addthis_services TD {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 1px
}
#addthis_dropdown15 A:hover {
	BORDER-BOTTOM: 0px; BACKGROUND-COLOR: #f5f5f5
}
#addthis_dropdown15 A {
	FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; FONT-SIZE: 12px; TEXT-DECORATION: none
}
#addthis_dropdown15 IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; WIDTH: 16px; HEIGHT: 16px; VERTICAL-ALIGN: middle; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
#addthis_dropdown15 {
	Z-INDEX: 1000000; BORDER-BOTTOM: #cccccc 1px solid; POSITION: absolute; TEXT-ALIGN: left; BORDER-LEFT: #cccccc 1px solid; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #ffffff; PADDING-LEFT: 1px; WIDTH: 230px; PADDING-RIGHT: 1px; DISPLAY: none; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; OVERFLOW: hidden; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid; PADDING-TOP: 1px
}
