/*BODY_COLOR*/

BODY
{
	SCROLLBAR-FACE-COLOR: #F7F7F7;
	SCROLLBAR-SHADOW-COLOR:#D7D5D5;
	SCROLLBAR-HIGHLIGHT-COLOR:#D7D5D5;
	SCROLLBAR-3DLIGHT-COLOR: #FFFFFF;
	SCROLLBAR-DARKSHADOW-COLOR: #FFFFFF;
	SCROLLBAR-TRACK-COLOR: #DDDDDD;
	SCROLLBAR-ARROW-COLOR: #8B9EA6;
}

TD
{
	FONT-FAMILY:"Verdana","Arial";
	FONT-SIZE:12PX;
	COLOR:#333333;
	LINE-HEIGHT:17PX;
}

A:LINK
{
	TEXT-DECORATION: none;
	COLOR: #000000;
}
A:VISITED
{
	TEXT-DECORATION: none;
	COLOR: #000000;
}
A:ACTIVE
{
	TEXT-DECORATION: none ;
	COLOR: #002A76;
}
A:HOVER
{
	TEXT-DECORATION: none ;
	COLOR: #002A76;
}

ALPHA
{
  FILTER: progid:DXImageTransform.Microsoft.Alpha(Opacity=40)
}

/*BUTTON_COLOR*/

.button_default
{
    BORDER-RIGHT: #b6b6b6 1px solid;
    BORDER-TOP: #cccccc 1px solid;
    FONT-SIZE: 11px;
    BACKGROUND: #EAEAEA;
    MARGIN: 0px;
    BORDER-LEFT: #cccccc 1px solid;
    WIDTH: 64px;
    CURSOR: hand;
    COLOR: #666666;
    BORDER-BOTTOM: #b6b6b6 1px solid;
    FONT-FAMILY: "Verdana", "Arial";
    HEIGHT: 22px
}
.button_default_long
{
    BORDER-RIGHT: #b6b6b6 1px solid;
    BORDER-TOP: #cccccc 1px solid;
    FONT-SIZE: 11px;
    BACKGROUND: #EAEAEA;
    MARGIN: 0px;
    BORDER-LEFT: #cccccc 1px solid;
    WIDTH: 100%;
    CURSOR: hand;
    COLOR: #666666;
    BORDER-BOTTOM: #b6b6b6 1px solid;
    FONT-FAMILY: "Verdana", "Arial";
    HEIGHT: 22px
}
.button_small
{
    BORDER-RIGHT: #93917d 1px solid;
    BORDER-TOP: #c3c1ad 1px solid;
    FONT-SIZE: 11px;
    BACKGROUND: #EAEAEA;
    MARGIN: 0px;
    BORDER-LEFT: #c3c1ad 1px solid;
    WIDTH: 64px;
    CURSOR: hand;
    COLOR: #3e3a17;
    BORDER-BOTTOM: #93917d 1px solid;
    FONT-FAMILY: "Verdana", "Arial";
    HEIGHT: 16px
}
.button_small2
{
    BORDER-RIGHT: #93917d 1px solid;
    BORDER-TOP: #c3c1ad 1px solid;
    FONT-SIZE: 11px;
    BACKGROUND: #EAEAEA;
    MARGIN: 0px;
    BORDER-LEFT: #c3c1ad 1px solid;
    WIDTH: 16px;
    CURSOR: hand;
    COLOR: #3e3a17;
    BORDER-BOTTOM: #93917d 1px solid;
    FONT-FAMILY: "Verdana", "Arial";
    HEIGHT: 16px
}
.button_small_long
{
    BORDER-RIGHT: #93917d 1px solid;
    BORDER-TOP: #c3c1ad 1px solid;
    FONT-SIZE: 11px;
    BACKGROUND: #EAEAEA;
    MARGIN: 0px;
    BORDER-LEFT: #c3c1ad 1px solid;
    WIDTH: 84px;
    CURSOR: hand;
    COLOR: #3e3a17;
    BORDER-BOTTOM: #93917d 1px solid;
    FONT-FAMILY: "Verdana", "Arial";
    HEIGHT: 16px
}
.button_attach
{
    BORDER-RIGHT: #93917d 1px solid;
    BORDER-TOP: #c3c1ad 1px solid;
    FONT-SIZE: 11px;
    BACKGROUND: #EAEAEA;
    MARGIN: 0px;
    BORDER-LEFT: #c3c1ad 1px solid;
    WIDTH: 84px;
    CURSOR: hand;
    COLOR: #3e3a17;
    BORDER-BOTTOM: #93917d 1px solid;
    FONT-FAMILY: "Verdana", "Arial";
    HEIGHT: 16px
}
.button_nav
{
    BORDER-RIGHT: #829ead 1px solid;
    BORDER-TOP: #b2c5cf 1px solid;
    FONT-SIZE: 11px;
    BACKGROUND: #e0ebef;
    MARGIN: 0px;
    BORDER-LEFT: #b2c5cf 1px solid;
    WIDTH: 60px;
    CURSOR: hand;
    COLOR: #547585;
    BORDER-BOTTOM: #829ead 1px solid;
    FONT-FAMILY: "Verdana", "Arial";
    HEIGHT: 22px
}

/*inputbox*/

.input_textfield
{
    BORDER-RIGHT: #dcd5c2 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #dcd5c2 1px solid;
    PADDING-LEFT: 3px;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    BORDER-LEFT: #dcd5c2 1px solid;
    WIDTH: 100%;
    COLOR: #666666;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #dcd5c2 1px solid;
    FONT-FAMILY: "Verdana", "Arial";
    HEIGHT: 18px;
    BACKGROUND-COLOR: #ffffff;
    TEXT-DECORATION: none
}

.input_textfield_customsize
{
    BORDER-RIGHT: #dcd5c2 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #dcd5c2 1px solid;
    PADDING-LEFT: 3px;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    BORDER-LEFT: #dcd5c2 1px solid;
    WIDTH: 80%;
    COLOR: #666666;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #dcd5c2 1px solid;
    FONT-FAMILY: "Verdana", "Arial";
    HEIGHT: 18px;
    BACKGROUND-COLOR: #ffffff;
    TEXT-DECORATION: none
}
.input_textfield_date
{
    BORDER-RIGHT: #dcd5c2 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #dcd5c2 1px solid;
    PADDING-LEFT: 3px;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    BORDER-LEFT: #dcd5c2 1px solid;
    WIDTH: 80px;
    COLOR: #666666;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #dcd5c2 1px solid;
    FONT-FAMILY: "Verdana", "Arial";
    HEIGHT: 18px;
    BACKGROUND-COLOR: #ffffff;
    TEXT-DECORATION: none
}
.input_textfield_idpw
{
    BORDER-RIGHT: #dcd5c2 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #dcd5c2 1px solid;
    PADDING-LEFT: 3px;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    BORDER-LEFT: #dcd5c2 1px solid;
    WIDTH: 100px;
    COLOR: #666666;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #dcd5c2 1px solid;
    FONT-FAMILY: "Verdana", "Arial";
    HEIGHT: 18px;
    BACKGROUND-COLOR: #ffffff;
    TEXT-DECORATION: none
}
.input_textfield_dimmed
{
    BORDER-RIGHT: #d0d0d0 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #d0d0d0 1px solid;
    PADDING-LEFT: 3px;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    BORDER-LEFT: #d0d0d0 1px solid;
    WIDTH: 100%;
    COLOR: #666666;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #d0d0d0 1px solid;
    FONT-FAMILY: "Verdana", "Arial";
    HEIGHT: 18px;
    BACKGROUND-COLOR: #e8e8e8;
    TEXT-DECORATION: none
}
.input_textfield_half
{
    BORDER-RIGHT: #dcd5c2 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #dcd5c2 1px solid;
    PADDING-LEFT: 3px;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    BORDER-LEFT: #dcd5c2 1px solid;
    WIDTH: 50%;
    COLOR: #666666;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #dcd5c2 1px solid;
    FONT-FAMILY: "Verdana", "Arial";
    HEIGHT: 18px;
    BACKGROUND-COLOR: #ffffff;
    TEXT-DECORATION: none
}
.input_textarea
{
    BORDER-RIGHT: #dcd5c2 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #dcd5c2 1px solid;
    PADDING-LEFT: 3px;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    BORDER-LEFT: #dcd5c2 1px solid;
    WIDTH: 100%;
    COLOR: #666666;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #dcd5c2 1px solid;
    FONT-FAMILY: "Verdana", "Arial";
    BACKGROUND-COLOR: #ffffff;
    TEXT-DECORATION: none
}
.input_combobox
{
    FONT-SIZE: 11px;
    WIDTH: 100%;
    COLOR: #666666;
    FONT-FAMILY: "Verdana", "Arial";
    HEIGHT: 18px;
    BACKGROUND-COLOR: #ffffff;
    TEXT-DECORATION: none
}
.input_combobox_dimmed
{
    FONT-SIZE: 11px;
    WIDTH: 100%;
    COLOR: #d0d0d0;
    FONT-FAMILY: "Verdana", "Arial";
    HEIGHT: 18px;
    BACKGROUND-COLOR: #e8e8e8;
    TEXT-DECORATION: none
}
.input_combobox_customsize
{
    FONT-SIZE: 11px;
    WIDTH: 80%;
    COLOR: #666666;
    FONT-FAMILY: "Verdana", "Arial";
    HEIGHT: 18px;
    BACKGROUND-COLOR: #ffffff;
    TEXT-DECORATION: none
}
.input_combobox_control
{
    FONT-SIZE: 11px;
    WIDTH: 40px;
    COLOR: #666666;
    FONT-FAMILY: "Verdana", "Arial";
    BACKGROUND-COLOR: #ffffff;
    TEXT-DECORATION: none
}
.input_listbox_default
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 2px;
    MARGIN: 0px;
    WIDTH: 100%;
    COLOR: #666666;
    PADDING-TOP: 2px;
    FONT-FAMILY: "Verdana", "Arial";
    BACKGROUND-COLOR: #ffffff;
    TEXT-DECORATION: none
}
.input_listbox_shuttle
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 2px;
    MARGIN: 0px;
    WIDTH: 100%;
    COLOR: #666666;
    PADDING-TOP: 2px;
    FONT-FAMILY: "Verdana", "Arial";
    BACKGROUND-COLOR: #f8f7ee;
    TEXT-DECORATION: none
}

/*mainbox_color*/
.mainbox_lefttop
{
    BACKGROUND-IMAGE: url(../image/common/mainbox_lefttop.gif);
    WIDTH: 3px;
    HEIGHT: 3px
}
.mainbox_leftbottom
{
    BACKGROUND-IMAGE: url(../image/common/mainbox_leftbottom.gif);
    WIDTH: 3px;
    HEIGHT: 3px
}
.mainbox_righttop
{
    BACKGROUND-IMAGE: url(../image/common/mainbox_righttop.gif);
    WIDTH: 3px;
    HEIGHT: 3px
}
.mainbox_rightbottom
{
    BACKGROUND-IMAGE: url(../image/common/mainbox_rightbottom.gif);
    WIDTH: 3px;
    HEIGHT: 3px
}
.mainbox_leftline
{
    BACKGROUND-IMAGE: url(../image/common/mainbox_leftline.gif);
    WIDTH: 3px
}
.mainbox_rightline
{
    BACKGROUND-IMAGE: url(../image/common/mainbox_rightline.gif);
    WIDTH: 3px
}
.mainbox_topline
{
    BACKGROUND-IMAGE: url(../image/common/mainbox_topline.gif);
    HEIGHT: 3px
}
.mainbox_bottomline
{
    BACKGROUND-IMAGE: url(../image/common/mainbox_bottomline.gif);
    HEIGHT: 3px
}

/*table_color*/

.table {background-color: #C0C0C0;}

.table_header
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    VERTICAL-ALIGN: bottom;
    FONT-FAMILY: "Verdana","Arial";
    HEIGHT: 30px;
    TEXT-ALIGN: center
}
.table_header2
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    BACKGROUND-COLOR: #ADD7E7
    VERTICAL-ALIGN: bottom;
    FONT-FAMILY: "Verdana","Arial";
    HEIGHT: 22px;
    TEXT-ALIGN: center
}
.table_header_right
{
    PADDING-RIGHT: 7px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    HEIGHT: 23px;
    TEXT-ALIGN: right;
    BACKGROUND-COLOR: #ADD7E7
}
.table_header_center
{
    HEIGHT: 23px;
    TEXT-ALIGN: center;
    BACKGROUND-COLOR: #C9DCE3
}
.table_bg
{
    BACKGROUND-COLOR: #264061
}
.table_bg_white
{
    FONT-SIZE: 11px;
    FONT-FAMILY: "Verdana", "Arial";
    HEIGHT: 23px;
    BACKGROUND-COLOR: #ffffff;
    PADDING-LEFT:5;
    PADDING-RIGHT:5;
}
.table_date
{
    FONT-SIZE: 11px;
    VERTICAL-ALIGN: top;
    FONT-FAMILY: "Verdana";
    BACKGROUND-COLOR: #ffffff;
    TEXT-ALIGN: right
}
.table_more
{
    HEIGHT: 10px;
    TEXT-ALIGN: center
}
.table_selected
{
    BACKGROUND-COLOR: #e9e9da
}
.table_contents
{
    VERTICAL-ALIGN: top;
    LINE-HEIGHT: 14px
}
.table_contents_striken
{
    VERTICAL-ALIGN: top;
    LINE-HEIGHT: 14px;
    TEXT-DECORATION: line-through
}
.table_time
{
    FONT-SIZE: 11px;
    VERTICAL-ALIGN: middle;
    FONT-FAMILY: "Verdana";
    TEXT-ALIGN: center
}

.line_dot
{
    BACKGROUND-IMAGE: url(../image/common/line_dot.gif);
    HEIGHT: 1px
}
.line_empty
{
    HEIGHT: 1px;
    BACKGROUND-COLOR: #ffffff
}

/*MENU_COLOR*/

.top_sub_menu
{
	font-family:"Verdana","Arial";
	font-size: 12px;
	color: #BD005E;
	font-weight: bold;
}
.top_sub_menu a:link
{
	text-decoration: none ;
	color: #BD005E;
}
.top_sub_menu a:visited
{
	text-decoration: none ;
	color: #BD005E;
}
.top_sub_menu a:active
{
	text-decoration: none ;
	color: #DE1B7E;
}
.top_sub_menu a:hover
{
	text-decoration: none ;
	color: #DE1B7E;
}

.menu01
{
	font-family:"Verdana","Arial";
	font-size: 12px;
	font-style: normal;
	line-height: 18px;
	color: #00475C;
	text-decoration: none;
	padding-top: 6px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 13px;
	height: 23px;
	background-color: #E5E5E5;
	vertical-align: middle;
}
.menu01 a:link
{
	text-decoration: none ;
	color: #00475C;
}
.menu01 a:visited
{
	text-decoration: none ;
	color: #00475C;
}
.menu01 a:active
{
	text-decoration: none ;
	color: #135E7C;
	font-weight: bold;
}
.menu01 a:hover
{
	text-decoration: none ;
	color: #135E7C;
	font-weight: bold;
}

.mym
{
	font-family:"Verdana","Arial";
	font-size: 12px;
	font-style: normal;
	line-height: 18px;
	color: #666666;
	text-decoration: none;
}
.mym a:link
{
	text-decoration: none ;
	color: #666666;
}
.mym a:visited
{
	text-decoration: none ;
	color: #666666;
}
.mym a:active
{
	text-decoration: none ;
	color: #70C8EB;
}
.mym a:hover
{
	text-decoration: none ;
	color: #70C8EB;
}

.tree
{
	font-family:"Verdana","Arial";
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	color: #0E5977;
	text-decoration: none;
}

.tree2
{
	font-family:"Verdana","Arial";
	font-size: 12px;font-style: normal;
	line-height: normal;
	color: #007BA4;
	text-decoration: none;
}
.tree2 a:link
{
	text-decoration: none ;
	color: #007BA4;
}
.tree2 a:visited
{
	text-decoration: none ;
	color: #007BA4;
}
.tree2 a:active
{
	text-decoration: none ;
	color: #45E5FD;
	background-color: #2F7B9A;
	padding: 2px 0px 0px 3px;
}
.tree2 a:hover
{
	text-decoration: none ;
	color: #45E5FD;
	background-color: #2F7B9A;
	padding: 2px 0px 0px 3px;
}

.tree3
{
	font-family:"Verdana","Arial";
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	color: #5F5F5F;
	text-decoration: none;
}
.tree3 a:link
{
	text-decoration: none ;
	color: #5F5F5F;
}
.tree3 a:visited
{
	text-decoration: none ;
	color: #5F5F5F;
}
.tree3 a:active
{
	text-decoration: none ;
	color: #3B3B3B;
	background-color: #D3D5D5;
	padding: 2px 0px 0px 3px;
}
.tree3 a:hover
{
	text-decoration: none ;
	color: #3B3B3B;
	background-color: #D3D5D5;
	padding: 2px 0px 0px 3px;
}

.tree_text
{
	font-family:"Verdana","Arial";
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	color: #4690AD;
	text-decoration: none;
}
.tree_text a:link
{
	text-decoration: none ;
	color: #4690AD;
}
.tree_text a:visited
{
	text-decoration: none ;
	color: #4690AD;
}
.tree_text a:active
{
	text-decoration: none ;
	color: #015169;
}
.tree_text a:hover
{
	text-decoration: none ;
	color: #015169;
}

.treewhite {
	font-family:"Verdana","Arial";
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	color: #333333;
	text-decoration: none;
	background-color: #FFFFFF;
}

.sky
{
	font-family:"Verdana","Arial";
	font-size: 12px;
	font-style: normal;
	line-height: 160%;
	color: #E9F3F6;
	text-decoration: none;
}

.t_m01	{font-family:"Verdana","Arial"; font-size: 12px; color: #003366; text-decoration:}
	A:link.t_m01 {text-decoration: none ; color: #333333;}
  	A:visited.t_m01 {text-decoration: none ; color: #333333;}
 	A:active.t_m01 {text-decoration: none ; color: #C56014; font-weight: bold;}
  	A:hover.t_m01 {text-decoration: none ; color: #BB9C65;}.map01 {
	font-family:"Verdana","Arial";
	font-size: 12px;
	font-style: normal;
	line-height: 150%;
	color: #007BA4;
	text-decoration: none;
}

.map02 {

	font-family:"Verdana","Arial";
	font-size: 12px;
	font-style: normal;
	line-height: 150%;
	color: #4399B5;
	text-decoration: none;
}

.team {
	font-family:"Verdana","Arial";
	font-size: 12px;
	font-style: normal;
	line-height: 150%;
	color: #95E1FA;
	text-decoration: none;
}

/*part_color*/
.mtd_01 {background-color:#C9DCE3;font-family:Verdana, Arial; font-size: 11px;color: #0A4354;}

.pop_bg{background-color:#A6C8D7;height:34px;}
.pop_title{color: #000000;font-weight: bold ;font-size:13px;font-family: Verdana, Arial;padding:6 0 0 25;}


/* Calendar */
.cal_sun {
    text-decoration: none;
    background-color: #F0E1E1;
    height: 20px;
    width: 24px;
    Font-size: 11px;
    color: #A50000;
    font-family: "Arial", "Arial"
    text-align: center;
}
.cal_mon {
    height: 20px;
    width: 22px;
    background-color: #E7EFF7;
    text-align: center;
    font-family: "Arial", "Arial";
    font-size: 11px;
}
.cal_sat {
    height: 20px;
    width: 22px;
    background-color: #C2E0EA;
    text-align: center;
    font-family: "Arial", "Arial";
    font-size: 11px;
    color: #001BA5;
}

.cal_d {text-decoration: none; background-color: #FFFFFF; height: 20px; width: 22px; color: #777777; font-weight:bold; font-size: 11px; cursor:hand;}
.cal_d a:link {text-decoration: no ; color: #777777;}
.cal_d a:visited {text-decoration: no ; color: #777777;}
.cal_d a:active {text-decoration: underline ; color: #777777;}
.cal_d a:hover {text-decoration: underline ; color: #B6325E;}

.cal_d_selected {
  text-decoration: none;
    height: 20px;
    width: 22px;
    color: #EB008A;
    font-weight:bold;
    font-size: 11px;
}

.cal_dsun {
    text-decoration: none;
    background-color: #F6EFED;
    height: 20px;
    width: 22px;
    font-size: 11px;
    color: #A50000;
    text-align: center;
    cursor:hand;
}

.cal_date {
  text-decoration: none;
    color: #777777;
    font-weight:bold;
    font-size: 12px;
    font-family: "Verdana", "Arial";
}

.cal_dsat {
    text-decoration: none;
    background-color: #EFF5F7;
    height: 20px;
    width: 22px;
    font-size: 11px;
    color: #001BA5;
    text-align: center;
    cursor:hand;
}

.cal_d_dimmed {
    text-decoration: none;
    background-color: #f7f7f7;
    height: 20px;
    width: 22px;
    font-size: 11px;
    color: #838383;
    text-align: center;
}