a.white
{
        color:white;
        text-decoration:none;
}

a.white:hover
{
        color:yellow;
}
a
{
        color:black;
        text-decoration:none;
}

a:hover
{
        color:blue;
}
BODY {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.borderGray {
	BACKGROUND: #cccccc; COLOR: #cccccc
}
.borderDarkGray {
	BACKGROUND: #999999
}
.borderYellow {
	BACKGROUND: #ffffcc
}
.borderLightBlue {
	BACKGROUND: #9999cc
}
.borderLightGrayColor {
	BACKGROUND: #eeeeee
}
